/* bs */

.app {
  text-align: center;
  width: 500px;
  height: 600px;
  background-color: black;
  color: white;
}

.timer {
  font-size: 30px;
  margin-bottom: 30px;
}

.tasktimer {
  margin-left: 25%;
  float: left;
}

.breaktimer {
  margin-right: 25%;
  float: right;
}